.header {
    display: flex;
    height: 7.2em;
    background-color: #708090;
    justify-content: space-between;
}
.logo {
    padding-left: 5%;
    padding-top: .25em;
}
.links {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-right: 5%;
}
a {
    text-decoration: none;
}
.headertwo {
    display: flex;
    text-align: center;
    color: azure;
    padding-left: 20%;
    padding-right: 20%;
    background-color: #708090;
}

.bodyone {
    border: 1px solid whitesmoke;
    background-color: #FFF5ee;
}
.top {
    display: flex;
    justify-content: center;
}
.bottom {
    display: flex;
    justify-content: center;
}
img {
    border: .1875em solid whitesmoke;
}

.bx {
    margin: 1em auto;
    padding: 1em 2em;
    border: solid .0625em #808080;
    display: inline-block;
    position: relative;
    font-size: 1.1250em;
    max-width: 25em;
    font-family: sans-serif;
}
.left {
    text-align: left;
}
.quoteauthor {
    text-align: right;
}
.quoteone {
    background-color: rgba(240,230,165, 0.6);
    border-radius: 15.94em .94em 14.01em .94em / .75em 14.01em .94em 14.01em;
    height: 9.375em;
    width: 19.375em;
    text-align: center;
    font-family: 'Indie Flower', cursive; line-height: 1.5;
    box-shadow: .25em .25em .75em 0 rgba(80,80,80, 0.5);
    font-size: 1.2em;
    margin: 0.5rem;
}
.footertop {
    display: flex;
    justify-content: space-between;
}

.quotetwo {
    max-width: 13.75em;
    border-radius: 40%;
    border: solid .25em rgba(12,58,168,1.0);
}
.quotetwo::before,
.quotetwo::after {
    content: "";
    position: absolute;
    background: white;;
    border-radius: 50%;
}
.quotetwo::before {
    bottom: -1.125em; left: 70%;
    height: 1.25em; width: 1.25em;
    border: solid .25em rgba(12,58,168,0.8)
}
.quotetwo::after {
    bottom: -1.75em; left: 74%;
    height: .75em; width: .75em;
    border: solid .25em rgba(12,58,168,0.8)
}

.footerbottom {
    display:flex;
    justify-content:space-between;
}
.quotethree {
    background: linear-gradient(to bottom, #e6effd 0%, #b3d0fb 70%, #96befa);
    text-shadow: .0625em .0625em 0 #fff;
    height: 7.5em;
    margin-left: 10%;
    width: 19.375em;
}
.quotethree::before,
.quotethree::after {
    content: "";
    position: absolute;
    bottom: .1875em; left: .25em; width: 49.0%; height: 1.25em;
    z-index: -100;
    background: white;
    transform: rotate(-2deg);
    box-shadow: 0 .375em .5em 0 rgba(40,40,40, 1.0);
}
.quotethree::after {
    transform: rotate(2deg);
    left: auto; right: .25em;
}
.quotefour {
    position: relative;
    font-family: 'Barlow Condensed', sans-serif;
    max-width: 38.75em;
    margin-right: 1%;
    align-self: center;
}

.quotefour .left {
    font-family: 'Abril Fatface', cursive;
    position: relative;
    font-size: 1.3rem;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    border: solid .125em;
    border-radius: 1.25em;
    padding: 1.56em;
}
.quotefour .left:after {
    content:"";
    position:absolute;
    border:.125em solid;
    border-radius: 0 3.125em 0 0;
    width: 3.75em;
    height: 3.75em;
    bottom: -3.875em;
    left: 3.125em;
    border-bottom: none;
    border-left: none;
    z-index: 3;
}
.quotefour .left:before {
    content:"";
    position:absolute;
    width: 5em;
    border: .375em solid white;
    bottom: -.1875em;
    left: 3.125em;
    z-index: 2;
}
.quotefour .author {
    position:relative;
    font-size: 1.2rem;
    font-weightL 400;
    line-height: 1.2;
    margin: 0;
    padding-top: .9375em;
    z-index: 1;
    margin-left: 9.375em;
    padding-left: .75em;
}



